<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/Home']"><i class="fa fa-home fa-fw"></i>&nbsp;Hjem</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="[routes.areas.name]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Områder</a></li>
                <li><a [routerLink]="[routes.boulders.name]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Bulder</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;Lister<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="[routes.problemsList.name, {id: 0}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 3</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 1}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 4</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 2}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 5</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 3}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 6A</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 4}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 6B</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 5}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 6C</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 6}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 7A</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 7}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 7B</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 8}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 7C</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 9}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 8A</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 10}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 8B</a></li>
                        <li><a [routerLink]="[routes.problemsList.name, {id: 11}]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Grad 8C</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;{{getUserName()}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngIf="!isUserLoggedIn()">
                            <a [routerLink]="['/Account/Login']"><i class="fa fa-unlock-alt fa-fw"></i>&nbsp;Logg inn</a>
                        </li>
                        <li *ngIf="isUserLoggedIn()">
                            <a [routerLink]="[routes.home.name]" (click)="logout()"><i class="fa fa-power-off fa-fw"></i>&nbsp;Logg ut</a>
                        </li>
                        <li *ngIf="isUserLoggedIn()">
                            <a [routerLink]="[routes.users.name]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Brukere</a>
                        </li>
                    </ul>
                </li>
                <li><a [routerLink]="[routes.about.name]"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Om oss</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>