<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Områder
                <small>Side {{_page + 1}} av {{_pagesCount}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/Home']">Hjem</a>
                </li>
                <li class="active">Områder</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row album-box" *ngFor="#area of _areas">
        <div class="col-md-1 text-center">
            <p>
                <i class="fa fa-camera fa-4x"></i>
            </p>
            <p>{{convertDateTime(area.DateCreated)}}</p>
        </div>
        <div class="col-md-6">
            <h3>
                <a [routerLink]="[routes.areaBoulders.name, {id: area.Id}]">{{area.Title}}</a>
            </h3>
            <p>
                Bulder: <span class="badge">{{area.TotalBoulders}}</span>
            </p>
            <p>{{area.Description}}</p>
            <a *ngIf="area.TotalBoulders > 0" class="btn btn-primary" [routerLink]="[routes.areaBoulders.name, {id: area.Id}]">Se bulder</a>
        </div>
        <hr />
    </div>
    <hr>
</div>

<footer class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <div ng-hide="(!_pagesCount || _pagesCount < 2)" style="display:inline">
            <ul class="pagination pagination-sm">
                <li><a *ngIf="_page != 0_" (click)="search(0)"><<</a></li>
                <li><a *ngIf="_page != 0" (click)="search(_page-1)"><</a></li>
                <li *ngFor="#n of range()" [ngClass]="{active: n == _page}">
                    <a (click)="search(n)" *ngIf="n != _page">{{n+1}}</a>
                    <span *ngIf="n == _page">{{n+1}}</span>
                </li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(pagePlus(1))">></a></li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(_pagesCount - 1)">>></a></li>
            </ul>
        </div>
    </div>
</footer>