<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Brukere
                <small>Page {{_page + 1}} of {{_pagesCount}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/Home']">Home</a>
                </li>
                <li class="active">Brukere</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <table st-table="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <td>Brukernavn</td>
                <td>Epost</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#user of _users">
                <td>{{user.Username}}</td>
                <td>{{user.Email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<footer class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <div ng-hide="(!_pagesCount || _pagesCount < 2)" style="display:inline">
            <ul class="pagination pagination-sm">
                <li><a *ngIf="_page != 0_" (click)="search(0)"><<</a></li>
                <li><a *ngIf="_page != 0" (click)="search(_page-1)"><</a></li>
                <li *ngFor="#n of range()" [ngClass]="{active: n == _page}">
                    <a (click)="search(n)" *ngIf="n != _page">{{n+1}}</a>
                    <span *ngIf="n == _page">{{n+1}}</span>
                </li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(pagePlus(1))">></a></li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(_pagesCount - 1)">>></a></li>
            </ul>
        </div>
    </div>
</footer>
